.users{
    width: 500px;
    min-height: calc(100vh - 120px);
}

.usersScreen{
    position: relative;
    width: 100%;
    min-height: 500px;
}

.list{
    color: grey;
    font-size: 32px;
}

.list i {
    font-size: 52px;
}

@media screen and (max-width: 550px) {
    .users{
        width: 95%;
    }
}